{
  "tabWidth": 2,
  "printWidth": 80,
  "trailingComma": "all",
  "semi": false,
  "useTabs": false,
  "singleQuote": true,
  "bracketSpacing": true,
  "jsxSingleQuote": false,
  "bracketSameLine": false,
  "endOfLine": "crlf"
}